<div class="recipe-detail">
  <!--<router-outlet></router-outlet>-->
  <div class="card" style="">
    <img class="card-img-top" src="{{currentRecipe.imgUrl}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{currentRecipe.name}}</h5>
      <p class="card-text">{{currentRecipe.description}}</p>
      <div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of currentRecipe.ingredients">
            {{ingredient.name}} - {{ingredient.quantity}}
          </li>
        </ul>
      </div>
      <div class="dropdown" appDropdown>
        <button class="btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="oi oi-cog"></span>
        </button>
        <div class="dropdown-menu" appDropdown aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="onAddToList()" style="cursor: pointer">Add Ingredients</a>
          <a class="dropdown-item" style="cursor: pointer" [routerLink]="['./edit']">Edit Recipe</a>
          <a class="dropdown-item" style="cursor: pointer">Delete Recipe</a>
        </div>
      </div>
    </div>
  </div>
</div>
